@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,600&display=swap');

/********************************* COLORS *********************************/

body {
    background-color: #333533;
    color: #d6d6d6;
}

/********************************* Font-sizes *********************************/

.font-xxs{
    font-size: 0.5rem;
}

.font-xs{
    font-size: 1rem;
}

.font-s{
    font-size: 1.2rem;
}

.font-m{
    font-size: 2rem;
}

.font-l{
    font-size: 2.5rem;
}

.font-xl{
    font-size: 3rem;
}

.font-xxl{
    font-size: 3.5rem;
}

.font-xxxl{
    font-size: 4.5rem;
}

/********************************* HEADING *********************************/

.navbar{
    font-family: 'Roboto', sans-serif;
}

.navbar-brand{
    font-style: italic;
    font-weight: 900;
    margin-left: 2%;
    margin-right: 5%;
}

.container-fluid{
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.small-logo{
    color: #ffd100;
    font-style: italic;
    font-weight: 900;
}

.small-logo i{
    color: #d6d6d6;
    margin: auto;
}

.central-logo{
    color: #d6d6d6;
    font-weight: 600;
    text-align: center;
}

.central-logo span{
    color: #ffd100;
    font-style: italic;
    font-weight: 800;
}

.central-logo-icon{
    color: #d6d6d6;
    font-weight: 600;
    text-align: center;
}
   
/********************************* CAROUSEL *********************************/

.carousel{
    margin: auto;
    max-width: 100%;
    object-fit: scale-down;
    width: 100rem;
}

/********************************* CARDS *********************************/

.cards{
    color: #202020;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.cards .covid-measures{
    position: relative;
    text-align: center;
}

@media screen and (min-width: 36rem){
    .card{
        min-height: 12.5rem;
    }
    .price{
        margin-bottom: 2rem;
        margin-top: 2rem;
        position: relative;
    }
}

@media screen and (min-width: 51rem){
    .card{
        min-height: 10rem;
    }
    .price{        
        margin-bottom: 2rem;
        margin-top: 2rem;
        position: relative;
    }
}

.card-price {
    margin-bottom: 3rem;
}

.badge{
    color: #202020;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    position: relative;
    text-align: center;
}

.risk{
    text-decoration: line-through;
}

/********************************* CONTACT FORM *********************************/

.contact-form{
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.center-form, 
.comment, 
.btn-submit{
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.name{
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-transform: uppercase
}

.email{
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-transform: lowercase;
}

.address p{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin: auto auto auto 1rem;
    text-align: left;   
}

/********************************* FOOTER *********************************/

.footer-details {
    background-color: #202020;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    padding: 1.25rem; 
}

.footer-details .about p{
    margin: auto;
    text-align: center;
}

.footer-details .social{
    vertical-align: middle;
}

.footer-details a:link,
.footer-details a:visited,
.footer-details a:active{
    color: #d6d6d6;
}

.footer-details a:hover {
    color: #ffee32;
}
