@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,600&display=swap');

/********************************* COLORS *********************************/

body {
    background-color: #333533;
    color: #d6d6d6;
}

/********************************* HEADING *********************************/

.navbar{
    font-family: 'Roboto', sans-serif;
}

.navbar-brand{
    font-size: 2rem;
    font-weight: 900;
    font-style: italic;
    margin-left: 2%;
    margin-right: 5%;
}

.container-fluid .central-logo{
    font-family: 'Roboto', sans-serif;
}

.small-logo{
    font-size: 2rem;
    font-weight: 900;
    font-style: italic;
    color: #ffd100;
    margin-left: 5%;
}

.small-logo i{
    color: #d6d6d6;
    margin: auto;
}

.central-logo{
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: #d6d6d6;
}

.central-logo span{
    font-size: 3.5rem;
    font-weight: 800;
    font-style: italic;
    color: #ffd100;
}

.central-logo-icon{
    text-align: center;
    font-size: 4.5rem;
    font-weight: 600;
    color: #d6d6d6;
}

/********************************* GENERAL *********************************/
p {
    text-decoration-skip-ink: auto;
}
   
/********************************* CAROUSEL *********************************/

#carouselCenter {
    width: fit-content;
    height: min-content;
    margin: auto;
}

/********************************* CARDS *********************************/
.cards{
    font-family: 'Roboto', sans-serif;
    color: #202020;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.cards i{
    font-size: 3rem;
}
.cards .covid-measures{
    position: relative;
    text-align: center;
}

@media screen and (min-width: 36rem){
    .card{
        min-height: 12.5rem;
    }
    .price{
        position: relative;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 51rem){
    .card{
        min-height: 10rem;
    }
    .price{
        position: relative;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

.card-price {
    font-size: 1.2rem;
}

.badge{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #202020;
    position: relative;
    text-align: center;
}

.risk{
    text-decoration: line-through;
}

/********************************* CONTACT FORM *********************************/

.center-form, 
#comment, 
#brn-submit{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#name{
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-transform: uppercase
}

#email{
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-transform: lowercase;
}

.address p{
    font-family: 'Roboto', sans-serif;
    margin: auto;
    font-weight: 600;
    text-align: left;
    font-size: 0.5;
}

/********************************* FOOTER *********************************/

#footer-details {
    font-family: 'Roboto', sans-serif;
    background-color: #202020;
    padding: 1.25rem;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: right;
}

#footer-details .about p{
    font-size: 1rem;
    text-align: center;
    margin: auto;
}

#footer-details .social{
    vertical-align: middle;
}

#footer-details .list-inline-item a{
    text-align: right;
}

#footer-details a:link,
#footer-details a:visited,
#footer-details a:active{
    color: #d6d6d6;
}

#footer-details a:hover {
    color: #ffee32;
}
